/* Grid */
.container{
    border: dotted 5px blue;
    padding: 10px;
}

.row{
    border: solid 5px purple;
    height: 100px;
    padding: 10px;
    margin: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-6, .col-11{
    border: dashed 2px red;
    height: 100%;
    margin: 0;
}

#largura-limitada{
    max-width: 500px;
}

/* Alinhamento vertical */
.vertical{
    height: 250px;
    border-color: coral;
}

.vertical .row{
    height: 100%;
}

.vertical .col-3, .vertical .col-6, .vertical .col-4{
    height: 50px;
}

#offset{
    height: auto;
}

#offset .col-md-3{
    height: 50px;
    border: solid 2px red;
}

/* gutter */
#gutter .row{
    height: 200px;
}

#gutter .col-6{
    margin: auto;
    height: auto;
}

.row p{
    border: solid 2px green;
}